*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none; 
}

html{
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    background: rgba(9, 0, 90, 0.719);
}

.pic{
    width: 60px;
    margin-left: 40%;
    border-radius: 50%;
}

.h3-mem{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2rem;
}

.mem-button{
    margin-top: 10px;
    margin-left: 35%;
}

.mem-button .mem-btn{
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    color: #fff;
    background: #031cfd;
    padding: 7px;
    border-radius: 5px;
}

.mem-grid{
    align-items: center;
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    background: #fff;
    border-radius: 10px;
}


/* Header Section */

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.header .head-txt{
    width: fit-content;
    height: 100%;
    display: flex;
}
.head-txt h2{
    font-family: 'Rajdhani', sans-serif;
    line-height: 50px;
    padding-left: 15px;
}

.header .nav{
    width: fit-content;
    height: 100%;
}

.header .nav ul{
    list-style: none;
    margin-left: 30px;
}

.header .nav ul li{
    display: inline;
    float: left;
    margin: 0 10px;
}

.header .nav ul li a{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    line-height: 50px;
    color: #000;
}

.header .nav ul li a:hover{
    border-bottom: 3px solid #000;
    padding-top: 5px;
    
}

.header .nav .login-btn1{
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    color: #fff;
    background: #029c88;
    padding: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
    display: none;
}

.header .head-login{
    padding-right: 30px;
}

.header .head-login .login-btn{
    font-family: 'Rajdhani', sans-serif;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
    background: #031cfd;
    padding: 7px;
    border-radius: 5px;
}

#menuBtn{
    display: none;
}

/* Home Section */

.home{
    height: 100vh;
}

.home .home-text{
    position: absolute;
    top: 180px;
    left: 30%;
}
.home .home-text h3{
    font-size: 1.7rem;
    font-family: 'Rajdhani', sans-serif;
}

.home-line1{
    position: absolute;
    left: 30%;
    bottom: 62%;
    max-width: 200px;
    border-left: 4px solid rgb(25, 0, 255);
    padding-left: 5px;
    border-radius: 5px;
}

.home-line1 p{
    font-size: .8rem;
}

.home-line2{
    position: absolute;
    left: 45%;
    bottom: 45%;
    max-width: 200px;
    border-left: 4px solid rgb(25, 0, 255);
    padding-left: 5px;
    border-radius: 5px;
}

.home-line2 p{
    font-size: .8rem;
}

.home .home-socials{
    transform: rotate(90deg);
    position: absolute;
    left: 0;
    top: 79%;
    border: 1px solid #000;
    border-radius: 10px;
    border-radius: 10px;
    border-bottom: transparent;
    padding: 7px;
}

.home .home-socials:hover{
    box-shadow: 0 0 25px #031cfd,
                0 0 50px #031cfd;
}

.home .home-socials #fa{
    transform: rotate(-90deg);
    margin-right: 10px;
}

.home .home-socials #faf{
    transform: rotate(-90deg);
    margin-right: 10px;
}

.home .home-socials #fa:hover, .home .home-socials #faf:hover {
    transition: .5s;
    cursor: pointer;
    filter: drop-shadow(0 0 5px #031cfd)
    drop-shadow(0 0 8px #031cfd)
    drop-shadow(0 0 12px #031cfd)
    drop-shadow(0 0 16px #031cfd);
}

/* Vision Section */

#vision{
    width: 100%;
    padding: 60px 0;
    background: #fff;
}

.vision .vis-head h2{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
}

.vision .vis-head h2 span{
    color: #0026ff;
}

.vision .vis-head .line{
    border-top: 4px solid red;
    width: 45px;
    margin-left: 44.7%;
}

.vision .vis-content{
    width: 100%;
    padding: 3rem 2rem 5rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
}

.vis-content .vis{
    border: transparent;
    padding: 15px;
    background: #eee;
    border-radius: 10px;
}
.vis h3{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.3rem;
} 

.vis-content .mis{
    border: transparent;
    padding: 15px;
    background: #eee;
    border-radius: 10px;
}
.mis h3{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.3rem;
} 

.vis-content .goal{
    border: transparent;
    padding: 15px;
    background: #eee;
    border-radius: 10px;
}
.goal h3{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.3rem;
} 

/* MEMBERS */
#members{
    width: 100%;
    padding: 60px 0;
    background: #eee;
}

.members .mem-head h2{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
}

.members .mem-head h2 span{
    color: #0026ff;
}

.members .mem-head .line{
    border-top: 4px solid red;
    width: 45px;
    margin-left: 43%;
}

.members .mem-content{
    width: 100%;
    padding: 3rem 2rem 5rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.mem-content .paul .pic-paul{
    width: 60px;
    margin-left: 40%;
    border-radius: 50%;
    border: 1px solid #000;
    padding: 30px;
}

  /*-----------------------------------*\
    #NEWSLETTER
  \*-----------------------------------*/

.newsletter{
    font-family: 'Rajdhani', sans-serif;
    padding: 2rem 9%;
    padding: 6rem 2rem;
    text-align: center;
    background: #fff;
    background-position: center;
    background-size: cover;
}

.newsletter h3{
    color: var(--black);
    font-size: 1.5rem;
}

.newsletter p{
    color: var(--light-color);
    font-size: 1rem;
    padding: 1rem 0;
}

.newsletter form{
    margin: 1rem auto;
    max-width: 45rem;
    height: 3rem;
    display: flex;
    box-shadow: 0.2rem 0.5rem rgba(0,0,0,.1);
    overflow: hidden;
    border: none;
    outline: none;
    border-radius: 5rem;
}

.newsletter form input[type="email"]{
    font-family: 'Rajdhani', sans-serif;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: var(--black);
    text-transform: none;
    padding: 0 2rem;
    border: none;
    outline: none;
    overflow-x: hidden;
}

.newsletter form input[type="submit"]{
    font-family: 'Rajdhani', sans-serif;
    height: 100%;
    width: 10rem;
    font-size: 1rem;
    color: #fff;
    background: #3e51fc;
    cursor: pointer;
    border: none;
}

.newsletter form input[type="submit"]:hover{
    background: #0616f9;
}

/* Contact Section */
.contact{
    width: 100%;
    padding: 60px 0;
    background: #eee;
}

.contact .contact-head h2{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
}

.contact .contact-head h2 span{
    color: #0026ff;
}

.contact .contact-head .line{
    border-top: 4px solid red;
    width: 30px;
    margin-left: 53.5%;
}

.contact .contact-cnt{
    padding: 15px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-cnt .contact-txt{
    margin-left: 70px;
    margin-top: 70px;
    font-family: 'Rajdhani', sans-serif;
}

.contact-txt h2{
    font-size: 1.7rem;
}

.contact-txt h3{
    font-size: 1.5rem;
    margin-left: 70px;
    margin-top: 25px;
}

.contact-txt .b b{
    font-size: 1.5rem;
    margin-left: 90px;
    padding-left: 15px;
    color: blue;
}

.contact-sm{
    margin-top: 180px;
    margin-left: 280px;
    display: inline;
}

.contact-sm .icon{
    margin-top: 15px;
}

.contact-sm .icon #fa{
    font-size: 1rem;
    color: #031cfd;
}

.contact form{
    font-family: 'Rajdhani', sans-serif;
    margin-right: 25px;
    width: 40%;
    background:#444;
    padding: 2rem;
    border: var(--border);
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
}

.contact form h3{
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
}

.contact form .box{
    font-family: 'Rajdhani', sans-serif;
    margin: 0.7rem 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    padding: .8rem;
    padding-top: .8rem;
    font-size: 1rem;
    color: #fff;
    text-transform: none;
}

.contact form textarea{
    font-family: 'Rajdhani', sans-serif;
    height:7rem;
    width:100%;
    background:none;
    border:none;
    border-bottom: .1rem solid #ccc;
    font-size: 1rem;
    margin:1rem 0;
    color:#fff;
    text-transform: none;
    resize: none;
}

.contact form .box:focus, .contact form textarea:focus{
    border-color: #044bff;
}

.contact form .btnn-1{
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border: none;
    transition: .5s;
}

.btnn-1:hover{
    background-color: #044bff;
    color: #fff;
}

/* Footer Section */

.footer{
    font-family: 'Rajdhani', sans-serif;
    padding: 2rem 9%;
    background: #03e9f4;
    width: 100%;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    color: var(--black);
    font-size: 1.2rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    color: var(--light-color);
    font-size: 1rem;
    display: block;
    padding: .6rem 0;
}

.footer .box-container .box a #fa{
    padding-right: .5rem;
    color: var(--black);
    transition: .5s;
}

.footer .box-container .box a:hover #fa{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
}

.footer .credit #fa{
    font-size: 16px;
    padding: 8px;
    line-height: 40px;
    border: 1px solid #ff0000;
    margin: 40px 5px 0;
    border-radius: 50%;
    color: #ff0000;
    cursor: pointer;
    transition: .5s;
}

.footer .credit #faf{
    font-size: 16px;
    padding: 8px;
    padding-right: 11px;
    padding-left: 11px;
    line-height: 40px;
    border: 1px solid #ff0000;
    margin: 40px 5px 0;
    border-radius: 50%;
    color: #ff0000;
    cursor: pointer;
    transition: .5s;
}

.footer .credit #faf:hover{
    background: #ff0000;
    color: #fff;
    transform: translateY(-7px);
}

.footer .credit #fa:hover{
    background: #ff0000;
    color: #fff;
    transform: translateY(-7px);
}

.footer .credit p{
    font-size: 17px;
    margin-top: 20px;
}







































/* MEDIA QUERIES */

/* Media Queries for 600px and below */

@media only screen and (max-width: 600px) {

    body{
        width: 100%;
    }
    .header .head-txt .nav{
        display: none;
    }

    .header .head-login{
        display: none;
    }

    .head-txt h2{
        font-size: 1.3rem;
    }

    .header .head-txt{
        width: fit-content;
        height: 100%;
    }

    .header .head-txt #sideNav{
        width: 150px;
        height: 100vh;
        position: fixed;
        right: -250px;
        top: 0;
        background: #0026ff;
        z-index: 2;
        transition: 0.5s;
    }

    #sideNav .nav{
        display: block;
        margin-top: 50px;
    }
    
    .nav ul li{
        list-style: none;
        margin: 50px 20px;
        display: block;
    }
    
    .nav ul li a{
        text-decoration: none;
        color: #fff;
    }

    .nav ul li a:hover{
        color: #fff;
        border-bottom: 3px solid #fff;
    }

    .header .nav .login-btn1{
        display: block;
    }
    
    #menuBtn{
        display: block;
        width: 50px;
        height: 50px;
        background: transparent;
        text-align: center;
        position: fixed;
        right: 30px;
        top: 20px;
        border-radius: 3px;
        z-index: 3;
        cursor: pointer;
        padding: 0;
    }
    
    #menuBtn img{
        width: 35px;
        margin-top: -10px;
    }

    .home .home-text{
        position: absolute;
        top: 120px;
        left: 15%;
    }

    .home .home-text h3{
        font-size: 1.3rem;
    }

    .home-line1{
        position: absolute;
        left: 20%;
        bottom: 58%;
    }

    .home-line2{
        position: absolute;
        left: 45%;
        bottom: 42%;
    }

    .home-line1 p, .home-line2 p{
        font-family: 'Rajdhani', sans-serif;
        font-size: 0.78rem;
    }

    .home .home-socials #fa{
        font-size: .8rem;
        transform: rotate(-90deg);
        margin-right: 10px;
    }
    
    .home .home-socials #faf{
        font-size: .8rem;
        transform: rotate(-90deg);
        margin-right: 10px;
    } 
    
    .home .home-socials{
        padding: 5px;
    }

    .vision .vis-content{
        width: 100%;
        padding: 3rem 2rem 5rem 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1.5rem;
    }

    .vision .vis-head .line{
        margin-left: 112px;
    }

    .members .mem-content{
        width: 100%;
        padding: 3rem 2rem 5rem 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1.5rem;
    }

    .contact form{
        margin-right: 0;
        margin-top: 30px;
        width: 100%;
    }

}

/* Media Queries For 600px and above */
@media only screen and (max-width: 900px) and (min-width: 610px){
    body{
        width: 100%;
    }

    .head-txt h2{
        font-size: 1.3rem;
    }

    .header .head-txt{
        width: fit-content;
        height: 100%;
    }

    .home .home-text{
        position: absolute;
        top: 100px;
        left: 25%;
    }

    .home .home-text h3{
        font-size: 1.3rem;
    }

    .home-line1{
        position: absolute;
        left: 20%;
        bottom: 42%;
    }

    .home-line2{
        position: absolute;
        left: 45%;
        bottom: 25%;
    }

    .home-line1 p, .home-line2 p{
        font-size: 0.8rem;
    }

    .home .home-socials #fa{
        font-size: .8rem;
        transform: rotate(-90deg);
        margin-right: 10px;
    }
    
    .home .home-socials #faf{
        font-size: .8rem;
        transform: rotate(-90deg);
        margin-right: 10px;
    }

    .home .home-socials{
        padding: 5px;
        top: 70%;
    }

    .vision .vis-head .line{
        margin-left: 252px;
    }

    .contact form{
        margin-right: 0;
        margin-top: 30px;
        width: 100%;
    }
}

